//
//  Base.xcconfig
//  LookInside
//

#include "Version.xcconfig"

DEVELOPMENT_TEAM = 964G86XT2P
PRODUCT_BUNDLE_IDENTIFIER = com.lookinside-app.lookinside

CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Development
CODE_SIGN_IDENTITY[sdk=macosx*] = Apple Development
PROVISIONING_PROFILE_SPECIFIER =
CODE_SIGNING_ALLOWED = YES
CODE_SIGNING_REQUIRED = YES
CODE_SIGNING_SUPPORTED = YES

SUPPORTED_PLATFORMS = macosx
SUPPORTS_MACCATALYST = NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = NO
